

.heading-text{
    color: black;
}
.crncy_text{
    color: #5fdea4;
    font-weight: 700;
}
.hrCstm{
  border-color:   #ededed29;   
}
.eventAddDiv{
}
.iconCstm{

}
.eventAddDiv{
padding: 8px 0px;
border-top: 1px solid #c7c7c730;
border-bottom: 1px solid #c7c7c730;
}

.menuTextColor{
    font-size: 14px;
}

.listMenu{
    height: 100% ;
    min-height: 100%;
    padding: 20px;
    color: black;
}


.subheading{
font-size: 14px;
font-weight: 300;
}
.logoDiv{
    padding: 0px 6px;
    height: 160px;
    border-bottom: 1px solid #efefef;
    margin: 10px 0px;
}