<div>
    <div class="logoDiv d-flex flex-column align-items-center">
            <img width="120" height="120" src="./assets/thumbnail.png" alt="...">
            <h5 class="heading-text" routerLink="/onboarding">
                <span class="me-1 crncy_text">Currency</span> <span>Conversion</span>

            </h5>
    </div>

    <div class="listMenu">
            <div class="subheading">Menu</div>
            <div class="d-flex align-items-center mt-1">
                    <mat-icon class="me-2 iconCstm">dashboard</mat-icon>
                    <button class="btn menuTextColor"  routerLink="/home">Dashboard</button>
                    
            </div>
            <div class="d-flex align-items-center mt-1">
                <mat-icon class="me-2 iconCstm">currency_exchange</mat-icon>
                <button class="btn menuTextColor"  routerLink="/home">Currency Rates</button>
                
        </div>
        <div class="d-flex align-items-center mt-1">
                <mat-icon class="me-2 iconCstm">payments</mat-icon>
                <button class="btn menuTextColor"  routerLink="/home">Payments</button>
                
        </div>
        <div class="d-flex align-items-center mt-1">
                <mat-icon class="me-2 iconCstm">manage_account</mat-icon>
                <button class="btn menuTextColor"  routerLink="/home">Users</button>
                
        </div>
           
            
    </div>
</div>

