<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav sideNav" [mode]="isDesktop ? 'side' : 'over'" [opened]="isDesktop">
          <app-sidenav></app-sidenav>
  </mat-drawer>

  <mat-drawer-content class="main-content">


          <app-topnav (toggleSidenav)="drawer.toggle()"></app-topnav>



          <div class="mt-3 px-4">
                  <app-currency-converter></app-currency-converter>
                  <router-outlet></router-outlet>
          </div>


  </mat-drawer-content>

</mat-drawer-container>
